<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manajemen Toko</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="contain">
        <header>
            <h1>Manajemen Toko</h1>
            <a href="{{ url_for('add_product') }}" class="btn btn-primary">Tambah Produk</a>
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <main>
            <div class="logout-btn">
                {% if 'user_id' in session %}
                    <a href="{{ url_for('logout') }}" class="btn btn-logout">Logout</a>
                {% endif %}
            </div>
            <table class="tableproduk">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Deskripsi</th>
                        <th>Harga</th>
                        <th>Stok</th>
                        <th>Kategori</th>
                        <th>Edit atau Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.stock }}</td>
                        <td>{{ product.category.name }}</td>
                        <td class="actions">
                            <a href="{{ url_for('edit_product', id=product.id) }}" class="btn btn-edit">Edit</a>
                            <form action="{{ url_for('delete_product', id=product.id) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-delete" onclick="return confirm('apakah kamu ingin menghapus barang ini?')">Hapus</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>
